.section-generate {
    margin-top: 50px;
    margin-bottom: 50px;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 350px;
        margin: auto;
        padding: 20px 15px;
        box-sizing: border-box;
        border-radius: 7px;
        background: $cinnabar;
    }

    ul {
        display: inline;
        width: 100%;
    }

    li {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        color: $white;
        padding: 15px;
        font-size: 23px;
        font-weight: bold;
        border-style: solid;
        border-color: $silver;
    }

    button {
        letter-spacing: 2px;
        color: $white;
        min-height: 40px;
        min-width: 120px;
        max-width: 100%;
        padding: 2px;
        font-size: 18px;
        background-color: $cinnabar;
        border-radius: 3px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
          background-color: $silver;
        }
    }
}
